*{
    margin: 0;
    padding: 0;
    outline: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.button{
    font-size: 20px;
    color: #fff;
    font-family: cursive;
    padding: 10px 15px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #383ab6, #c2276f);
}

.full-width {
    width: 100%;
}
.main-width {
    width: 1170px;
    margin: 0 auto;
}
#menu {
    height: 80px;
}
.menu-list{
    float: right;
    padding: 20px 50px;
    margin-right: 100px;
}
.menu-list .menu-item{
    float: left;
    padding-left: 20px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

#intro, #about{
    height: 500px;
    width: 100%;
    padding: 20px 0;
    margin: 40px auto;
}
.intro-text, .intro-image, .about-image, .about-text{
    width: 50%;
    float: left;

}
.intro-image img, .about-image img{
    width: 550px;
}
.intro-text, .about-text{
    padding: 50px 0;
}
.intro-text h2, .about-text h2, .work-head h2{
    font-family: cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 80px;
    color: #1a1e4d;
    text-transform: uppercase;
}
.intro-text h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 75px;
    line-height: 80px;
    color: #e00069;
}
.intro-text p, .about-text p{
    font-size: 25px;
    padding: 20px 0;
}

#work {
    height: 600px;
}
#work.full-width{
    background-color: #eeeeee;
}
.work-head{
    text-align: center;
    padding: 40px 0;
}
.work-head h2 span{
    color: #e00069
}
.work-item{
    width: 28%;
    float: left;
    text-align: center;
    background-color: #fff;
    padding: 15px;
    margin: 0 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #8a898a;
}
.work-item img{
    width: 100%;
}
.work-item h2{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 24px;
    padding: 15px 0;
    color: #363958
}
.work-item p{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    padding: 10px 20px;
}
/*Chat part start*/
.chat{
    width: 906px;
    height: 225px;
    background-image: url(/images/chat_bg.png);
    background-size: cover;
    margin: 40px auto;
    vertical-align: middle;
}
.chat p{
    float: left;
    margin:90px 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 45px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
.chat a{
    float: right;
    margin: 90px 50px;
    text-transform: uppercase;
}
/* ============= Section start ======= */
#skill{
    height: 600px;
    /* background: #000; */
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
.skill-bOdy{
    margin-bottom: 25px;
}
#skill h1{
    padding: 70px;
}
.skil-one{
    height: 175px;
    width: 24%;
    margin-right: 1%;
    float: left;
    background: rgb(88, 0, 252);
    border-radius: 10px;
       box-shadow: 5px 5px 10px #8a898a;
}
.skil-two{
    height: 175px;
    width: 50%;
    float: left;
    background: rgb(255, 40, 140);
    border-radius: 10px;
       box-shadow: 5px 5px 10px #8a898a;
}
.skil-three{
    height: 175px;
    width: 24%;
    margin-left: 1%;
    float: left;
    background: rgb(88, 0, 252);
    border-radius: 10px;
       box-shadow: 5px 5px 10px #8a898a;
}

.skil-four{
    height: 175px;
    width: 34%;
    margin-right: 1%;
    float: left;
    background: rgb(255, 40, 140);
    margin-top: 1%;
    border-radius: 10px;
       box-shadow: 5px 5px 10px #8a898a;
}
.skil-five{
    height: 175px;
    width: 30%;
    float: left;
    background: rgb(88, 0, 252);
    margin-top: 1%;
    border-radius: 10px;
       box-shadow: 5px 5px 10px #8a898a;
}
.skil-six{
    height: 175px;
    width: 34%;
    margin-left: 1%;
    float: left;
    background: rgb(255, 40, 140);
    margin-top: 1%;
    border-radius: 10px;
       box-shadow: 5px 5px 10px #8a898a;
}

/* ============= Section End ======= */


/* chat part end */
/* footer part start */
#footer{
    height: 200px;
    text-align: center;
}

.footerImg img{
    height: 50px;
    width: 50px;
    margin-top: 15px;
    margin-left: 10px;
}
.footer{
    margin-top: 50px;
}

/* footer part start */
